body{
    background-color: #4FB0C6;
}

h1{
    color: #000000;
}

h3{
    color: #000000;
    cursor: pointer;
}

p{
    font-weight: bold;
}

ul{
    padding-left: 0px;
}

ul li h4{
    padding-left: 15px;
    text-align: left;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}


ul li{
    list-style: none;
}



button{
    display: block; 
    height: 50px; 
    width: 300px; 
    background-color: #379392; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 5px;
    border-radius: 10px;
}
